In [14]:
Month = ["jan","feb","march","apr","may","june","jul","aug","sept","oct","nov","dec"]
sales = [23,44,67,45,12,63,89,53,16,43,65,67]

In [15]:
import pandas as pd

In [16]:
s = pd.Series(data= sales, index = Month)

In [17]:
s

jan      23
feb      44
march    67
apr      45
may      12
june     63
jul      89
aug      53
sept     16
oct      43
nov      65
dec      67
dtype: int64

In [18]:
# sorting value wise

In [19]:
s.sort_values()

may      12
sept     16
jan      23
oct      43
feb      44
apr      45
aug      53
june     63
nov      65
march    67
dec      67
jul      89
dtype: int64

In [20]:
s # original series is not affected if we want to do so use inplace parameter

jan      23
feb      44
march    67
apr      45
may      12
june     63
jul      89
aug      53
sept     16
oct      43
nov      65
dec      67
dtype: int64

In [23]:
s.sort_values(inplace= True) # no need to assign to another variable while using inplace

In [24]:
s

may      12
sept     16
jan      23
oct      43
feb      44
apr      45
aug      53
june     63
nov      65
march    67
dec      67
jul      89
dtype: int64

In [26]:
s.sort_index()

apr      45
aug      53
dec      67
feb      44
jan      23
jul      89
june     63
march    67
may      12
nov      65
oct      43
sept     16
dtype: int64

In [27]:
s.sort_index(ascending= False)

sept     16
oct      43
nov      65
may      12
march    67
june     63
jul      89
jan      23
feb      44
dec      67
aug      53
apr      45
dtype: int64